.CourseDisplay {
  width: 100%;
}

.CourseTitle {
  width: 100%;
  margin-bottom: 3%;
  font-size: 40px;
  text-align: center;
}

.ModuleGroup {
  width: 100%;
  display: inline-block;
  margin-bottom: 2%;
}

.ModuleGroupLeft {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.ModuleGroupLeft span {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

.ModuleGroupRight {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
