.Course {
  height: 180px;
  width: 200px;
  display: inline-block;
  background: darkblue;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 10px 20px #ccc;
  margin-right: 5%;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
}

.CourseTitle {
  position: relative;
  margin: none;
  width: 100%;
  height: 30%;
  font-size: 15px;
  color: white;
}
